# Example Environment configuration
NODE_ENV=
PORT=

# Neon Postgres
DATABASE_URL=
DIRECT_URL=

# Upstash Redis
REDIS_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

# Resend
RESEND_API_KEY=
EMAIL_FROM=

# JWT Secrets
JWT_SECRET=
MOBILE_JWT_SECRET=
SUPER_ADMIN_JWT_SECRET=

# CORS
CORS_ORIGINS=
